{% extends "base.html" %}
{% block html %}
    <html>
        {% load i18n %}
        {% load %}
    {% load friendship_tags %}

{% endblock %}
{% block title %}
    <title> Guitar Club </title>
{% endblock %}

{% block meta %}
    <meta charset="utf-8" />
        <meta name="description" content="Welcome to 'THE GUITAR CLUB' - A virtual world for all music lovers and music makers">
        <meta name="robots" content="all">
        <link href="/static/viewfriends.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <body>
{% endblock %}
{% block content %}
                                 <!-- MIDDLE-CONTAINER -->
           <div class="middle-container">
                <div class="profile"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                    <div class="profile-left">

                    </div>

                </div>
                <div class="search_results">
                 <div class="result">
                    {% if friends%}
                      {% for i in friends %}
                        <div id="userresults">
                            <div class="user-pic clear">
                                <img src="{{i.profile.profilePic.url}}" width = "80px">
                            </div>
                            <div class="userdetails">
                                <a href = "/profiles/{{i.id}}/" >{{i.first_name}} {{i.last_name}}</a><br>
                                <p>{{i.profile.currentPlace}}<br></p>
                                {% autoescape off %}
                                {{a|mutual_friends_count:i.user2}}{% csrf_token %} {% endautoescape %} Mutual Friend(s)
                                <!--{{mf}}-->
                            </div>
                            <div class="friend_tag">
                                {% autoescape off %}
                               {{b|check_friendship:i.user2}}{% csrf_token %} {% endautoescape %}</form>
                            </div>
                         </div>
                        <div id="space">
                            <p></p>
                        </div>

                      {% endfor %}
                     {% else %}
                      <div id="userresults">
                        <h4>{{self.user.first_name}} {{self.user.last_name}}, you have no friends yet</h4>
                      </div>
                      {% endif %}
                    </div>
                </div><!-- end search results-->
                </div><!-- end middle-container -->
{% endblock %}