<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400;300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Old+Standard+TT' rel='stylesheet' type='text/css'>
        <script async src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script type="text/javascript" async src="http://code.jquery.com/jquery-1.7.2.js"></script>
        <script type='text/javascript' async src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
        <link rel="stylesheet" href="http://s3.amazonaws.com/codecademy-content/courses/ltp/css/bootstrap.css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/static/bandpage.js"></script>
        <link href="/static/bandpage.css" rel="stylesheet">
</head>
<body>

        <div class = "nav_bar">

        </div>
        <div class = "pic-container">
        <div class = "cover-image">

        </div>

        <div class="profile-picture big-profile-picture clear " style="background-image:url('{{ form.instance.profilePic.url  }}')">
        </div>
        <div class="band-name">
        <ul ><a id="font-color" href="#">GreenDay</a></ul>
        </div>
        </div>
        <div class = "tab-format">
            <ul class="tabs">
                <li class="selected"><a href="#view1">Features</a></li>
                <li><a href="#view2">How to Use</a></li>
                <li><a href="#view3">Source Code</a></li>
            </ul>
            <div class="tabcontents">
                <div id="view1">
                    content 1
                </div>
                <div id="view2">
                    content 2
                </div>
                <div id="view3">
                content 3
            </div>
            </div>
        </div>

</body>
</html>