<html>


    <p>step {{wizard.steps.step1}} of {{wizard.steps.count}}</p>
    {% for fiels in form %}
        {{field.error}}
    {% endfor %}

    <form method = "post" action = "/band/edit/">{% csrf_token %}
    <table>
        {{wizard.management_form}}
        {% if wizard.form.forms %}
            {{wizard.form.management_form}}
            {% for form in wizard.form.forms %}
                {{form}}
            {% endfor %}
        {% else %}
            {{wizard.form}}
        {% endif %}
    </table>
         {% if wizard.steps.prev %}

    <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">back button</button>
    {% endif %}

        <input type = "submit" value = "submit"/>
    </form>
</html>