.cover-image {
    width : 100%;
    height : 250px;
    background-color : #767563 ;
}

.big-profile-picture {
		border: 5px solid #50597b;
		position:relative;
		margin:0 auto;
		height:200px;
		width:200px;
        z-index:100;
		float :left;
		margin-top: 5px;

}
.main-container {
	font-family: 'Ubuntu', sans-serif;
	width: 100%
	height: auto;
}
.profile-picture {
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;
  	background:#fff;
  	border-radius:100%;
    z-index:300;
}
.nav_bar {
    position:relative;
    width:100%;
    height:50px;
    background:#22313f;
}
.band-name{
    position:relative;
    display:block;
  	top:-44px;
  	font-size:30px;
  	width:100%;
  	background:#22313f;
  	color:#fff;

}
#font-color{
    color:#fff;
    margin-left:70px;
}



/* Tab Content - menucool.com */

.tab-format{
    float:left;
    position:relative;
    width:100%;
    right:-210px;
    top:-210px;
}
ul.tabs
{
    padding: 7px 0;
    font-size: 0;
    margin:0;
    list-style-type: none;
    text-align: left; /*set to left, center, or right to align the tabs as desired*/

}

ul.tabs li
{
    display: inline;
    margin: 0;
    margin-right:3px; /*distance between tabs*/
}

ul.tabs li a
{
    font: normal 12px Verdana;
    text-decoration: none;
    position: relative;
    padding: 7px 16px;
    border: 1px solid #CCC;
    border-bottom-color:#B7B7B7;
    color: #000;
    background: #F0F0F0 url(tabbg.gif) 0 0 repeat-x;
    border-radius: 3px 3px 0 0;
    outline:none;
}

ul.tabs li a:visited
{
    color: #000;
}

ul.tabs li a:hover
{
    border: 1px solid #B7B7B7;
    background:#F0F0F0 url(tabbg.gif) 0 -36px repeat-x;
}

ul.tabs li.selected a, ul.tabs li.selected a:hover
{
    position: relative;
    top: 0px;
    font-weight:bold;
    background: white;
    border: 1px solid #B7B7B7;
    border-bottom-color: white;
}


ul.tabs li.selected a:hover
{
    text-decoration: none;
}


div.tabcontents
{
    border: 1px solid #B7B7B7; padding: 30px;
    background-color:#FFF;
    border-radius: 0 3px 3px 3px;
}
