/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/


/************************************ FONTS ************************************/
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}
@font-face {
	font-family: 'icomoon';
	src:url('http://jlalovi-cv.herokuapp.com/font/icomoon.eot');
	src:url('http://jlalovi-cv.herokuapp.com/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('http://jlalovi-cv.herokuapp.com/font/icomoon.ttf') format('truetype'),
		url('http://jlalovi-cv.herokuapp.com/font/icomoon.woff') format('woff'),
		url('http://jlalovi-cv.herokuapp.com/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/************************************* END FONTS *************************************/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h2 {
	font-size: 17px;
}

p {
	font-size: 15px;
}

a {
	text-decoration: none;
	font-size: 15px;
}
	a:hover {
		text-decoration: underline;
	}

h2, p, a, span{
	color: #fff;
}
	.profile_add input[type=text]{
	border: 1px solid #ededed;
    border-radius: 3px;
    width: 350px;
    height:35px;
    outline: none;
    margin-right: 1px;
    margin-top:5px;
    transition: all 0.4s;
    float:left;
	}
.icon2{
	font-size: 20px;
	color: #FFF;
	padding:0 5px;
}
.icon1 {
	font-size: 20px;
	color: #FFF;
}
.icon {
	font-size: 20px;
	color: #FFF;
	padding:0 25px;
}
.icon3{
    font-size: 55px;
    float:right;
}
.icon-keyboard:before {
    content: "\e955";
}
#hoverable .icon{
    float:right;
	font-size: 20px;
	color: #FFF;
	padding:0 25px;
	font-weight:normal;
	position:relative;
}
.icon:hover{
		color: #9099b7;
}
.profile-picture {
	overflow: hidden;
	-webkit-box-sizing: content-box;
  	-moz-box-sizing: content-box;
  	box-sizing: content-box;
  	border-radius:100%;
}

    .logo img{
        width:12%;
        height:40px;
        display:inline;
        float:left;
        padding:5px 10px 0px 10px;
    }
/** MAIN CONTAINER **/

.main-container {
	font-family: 'Ubuntu', sans-serif;
	width: 100%
	height: auto;
}

.middle-container {
	width: 100%
	height: auto;
	margin:0 auto;
}
	/*********************************************** HEADER ***********************************************/
	header {
	    width: 100%;
		height: 50px;
		background: #22313F;
		margin:0 auto;
	}
		.header-menu {
			font-size: 17px;
			line-height: 40px;
			margin: 0;
	        padding: 0;
	        list-style-type: none;
	        width:100%;
        }
			.header-menu li {
				position: relative;
        		-webkit-transform: translateZ(0); /** To avoid a flash when hover messages **/
        		float: left;
			}
				.header-menu-number {
					position: absolute;
					line-height: 15px;
					padding: 0 6px;
					font-weight: 500;
					background: #1ABC9C;
					border-radius: 100%;
					top: 5px;
					right: 2px;
					-webkit-transition: all .3s linear;
					transition: all .3s linear;
					color:#ffffff;
				}
					.header-menu li:hover .header-menu-number {
						text-decoration: none;
						-webkit-transform: rotate(360deg);
						transform: rotate(360deg);

					}
				.search_bar {
					    position:relative;
					    left:8%;
					    width : 45%;
					}
		.profile-menu {
			float: right;
			height: 40px;
			padding-top:3px;
			margin:0 auto;
			position:relative;
			right:50px;
		}
			.profile-menu a {
				font-size: 14px;
				display: inline-block;
				line-height: 40px;
				margin: 0;
				padding-right:5px;
			}
		.profile-menu a:hover {
		    color: #9099b7;
		    text-decoration:none;
		}

/*friends drop down*/
 .header-menu .spacer{
 display:block;
 float:none;
 width:450px;
 height:10px;
 background:none;
color: white;
padding: 0.05em;
cursor:pointer;
 /*this is where the rounded corners for the dropdown disappears*/
 }
.header-menu li ul{
 display:none;
 height:auto;
 padding:0px;
 margin:0px;
 border:0px;
 position:absolute;
 z-index:200;
 right:0;

 width:450px;
 }
 .header-menu li:hover ul{
 display:block;
 }

 .header-menu li li {
 display:block;
 float:none;
 margin:0px;
 padding:0px;
 width:450px;
 height:50px;
 background:#1ABC9C;
margin-top:1px;
 /*this is where the rounded corners for the dropdown disappears*/
 }
 .header-menu li:hover li a{
 background:none;
 }
 .header-menu li ul a{
 display:block;
 padding:0px 10px 0px 15px;
 }
 .header-menu li ul a:hover{
 text-decoration:none;
 color:#ffffff;
 }
  #hoverable a{
  display:inline;

  }
 #hoverable font{
 height:50px;
 font-size:12px;
 font-style:normal;
 margin:0px;
 padding:0px 10px 0px 15px;
 text-align:left;
 display:inline;
 color:white;
 }
#hoverable:hover{
 border:0px;
 color:#ffffff;
 text-decoration:none;
 background:#019875;
 }
 .header-menu .view-friends {
text-align:center;
width:100%;
cursor:pointer;
cursor:hand;
}
/*friends drop down ends here*/
/*drop down next to small pi c and small pic */
.right-icons{
top:15px;
position:relative;
}
	.small-profile-picture {
		border: 2px solid #50597b;
		width: 40px;
		height: 40px;
		display: inline-block;
		vertical-align: middle;
		position:relative;

background-position: center center;
background-repeat: no-repeat;
background-size: cover;
	}

.profile-menu .dropdown{
    float:right;
    top:25%;
    list-style:none;
    cursor:pointer;
}
 .profile-menu li ul{
 display:none;
 padding:0px;
 margin:0px;
 border:0px;
 position:absolute;
 width:200px;
 z-index:200;
 right:0;
 }
 .profile-menu li:hover ul{
 display:block;
 }
 .profile-menu .spacer{
 display:block;
 float:none;
 width:200px;
 height:10px;
 background:none;
color: white;
padding: 0.05em;
cursor:pointer;
 /*this is where the rounded corners for the dropdown disappears*/
 }
 .profile-menu .no-spacer{
 display:block;
 float:none;
 width:200px;
 background:#1ABC9C;
color: white;
display: block;
position:relative;
margin-top:1px;
cursor:pointer;
 /*this is where the rounded corners for the dropdown disappears*/
 }
 .profile-menu li:hover li a{
 background:none;
 }
 .profile-menu li ul a{
 display:block;
 height:50px;
 font-size:14px;
 margin:0px;
 padding:0px 10px 0px 15px;
 text-align:left;
font-family:'Open Sans', sans-serif;
 }
 .profile-menu li ul a:hover{
 border:0px;
 color:#ffffff;
 text-decoration:none;
 background:#019875;
 }
/*drop down ends*/

/*Search bar*/
.search_bar .togglemenu{
    float:left;
    width:35px;
    list-style:none;
    background:#1ABC9C;
    height:37px;
    padding-top:5px;
    padding-left:8px;
    margin-top:4px;
    border-radius:3px;
    }
 .search_bar li ul{
 display:none;
 height:auto;
 padding:0px;
 margin:0px;
 border:0px;
 position:absolute;
 width:200px;
 z-index:200;
 top:38px;
 }
 .search_bar li:hover ul{
 display:block;
 }
 .search_bar li li {
 display:block;
 float:none;
 margin:0px;
 padding:0px;
 width:200px;
 background:#1ABC9C;
 /*this is where the rounded corners for the dropdown disappears*/
 }
 .search_bar li:hover li a{
 background:none;
 }
 .search_bar li ul a{
 display:block;
 height:50px;
 font-size:12px;
 font-style:normal;
 margin:0px;
 padding:0px 10px 0px 15px;
 text-align:left;
 }
 .search_bar li ul a:hover{
 border:0px;
 color:#ffffff;
 text-decoration:none;
 background:#019875;
 -webkit-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
 -moz-box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
 box-shadow: inset 0px 0px 7px 2px rgba(0, 0, 0, .3);
 }
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300);
@import url(http://weloveiconfonts.com/api/?family=entypo);

ol, ul {
 list-style: none;
}
blockquote, q {
 quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
 content: '';
 content: none;
}
table {
 border-collapse: collapse;
 border-spacing: 0;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

 * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    transition: all .2s ease;
}
#box {
    display: inline-block;
 margin-left:3px;
 float:left;
}
input {
    float: right;
    border-radius: .2em;
}
input[type=search] {
    border: 1px solid #ededed;
    border-radius: 3px;
    width: 350px;
    height:35px;
    outline: none;
    margin-right: 1px;
    margin-top:5px;
    margin-left:2px;
    transition: all 0.4s;
}
input[type=search]:focus {
    width: 350px;
    color:#fff;
}
.block input[type=submit] {
    background-color: #1ABC9C;
    color: #fff;
    cursor: pointer;
    width: 40px;
    height:35px;
    border: none;
    border-radius: 3px;
    display: inline-block;
    outline: none;
    background-image: url('/static/index1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
    margin-top:5px;
}
.block input[type=submit]:hover {

 background-color: #019875;
    background-image: url('/static/index1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 14px;
}
::-webkit-input-placeholder {
    font-family:'Open Sans', sans-serif;

}
input[type=search]:focus {
    border: 1px solid #1ABC9C;
    padding-left: 40px;
    background: url('/static/index.png');
    background-position: 13px center;
    background-repeat: no-repeat;
    background-size: 14px;
}
h1 {
    color: #666;
    font-weight: 300;
    font-family:'Open Sans Condensed', sans-serif;
}
/*Search formating end*/


/*footer*/
.footer {
background-color:#22313F;
-webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
width : 100%;
position: relative;
height:100%;
bottom:0px;
float:left;
top:220px;
}
.footer h3{
width:100%;
color:#fff;
position:relative;
top:5px;
}
.footer h5 {
color:#fff;
width:95%;
left:2%;
position:relative;
top:5px;
}
.footer p{
color:#fff;
width:95%;
left:2%;
position:relative;
}
.footer-nav li {
right:8px;
position:relative;
display:inline;
}
/*footer end*/

/*placeholder*/
.search_select{
    color:#FFF;

    font-size:18px;
    text-align: left;
    font-family: 'entypo', sans-serif;
    border:none;
    outline:none;
}
.search_select option{
    padding:5px 10px 10px 10px;
    width:150px;
    background: #1ABC9C;
}
.search_select option:hover{
    width:150px;
    background:black;
}

#selection{
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   color:none;
   background-color:transparent;
   outline:none;
   top:-30px;
   left:-5px;
   width:30px;
   position:relative;
   opacity:0;
   cursor: pointer;
}
/*placeholder ends*/