body {
  margin: 0;
  width : screen.Width+"px";
min-width : 1345px;
height:100%;
  background-repeat: no-repeat;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   overflow-x: auto;
    overflow-y: auto;
}
.profile{
    float:left;
    background:#394264;
    width:19%;
    height:480px;
    margin-top:10px;
    margin-left:10px;
    padding-bottom: 10px;
    position:relative;
    border-radius:3px;
}
.profile-left{
    width:100%;
}
	.big-profile-picture {
		border: 5px solid #50597b;
		position:relative;
		cursor: pointer;
        cursor: hand;
		margin:0 auto;
		height:150px;
		width:150px;
		top:20px;
		z-index:1;
background-position: center center;
background-repeat: no-repeat;
-moz-background-repeat: no-repeat;
background-size: cover ;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: visible;
overflow: visible;
}
.camera{
    position:absolute;
    text-shadow: 2px 2px rgba(6,6,6,0.5), 1px 1px rgba(255,255,255,0);
    left:66%;
    top:123px;
    color:#fff;
    z-index:2;
    opacity:0.75;
}

.user-name {
			font-size:20px;
			text-align:center;
			color:#fff;
			position:relative;
			top:20px;
		}
				.entry{
				    left:50px;
				    position:relative;
				    top:20px;
				}
				.entry input[type=text], 	.entry input[type=date]{
				    clear:right;
				}
				.entry input[type=submit]{
				    clear:both;
				}
			.entry input[type=text],.entry input[type=date] {
                    	border: 1px solid #ededed;
                        border-radius: 3px;
                        width: 35%;
                        height:30px;
                        outline: none;
                        transition: all 0.4s;
                        display:inline;
                        float:left;
                    	}
				 #dob,#livingin, #hometown {
				    font-size:13px;
					color:#D1D1BA;
					font-weight:normal;
					position:relative;
					width:30%;
					clear:left;
					float:left;
					line-height:10px;
					top:-12px;
					vertical-align:middle;
				}
                #Gender {
				    font-size:13px;
					color:#D1D1BA;
					font-weight:normal;
					position:relative;
					width:30%;
					clear:left;
					float:left;
					line-height:6px;
					top:-11px;
					vertical-align:middle;
				}
.pic_submit input[type=submit] {
    background-color: #1ABC9C;
    color: #fff;
    cursor: pointer;
    width: 100px;
    height:35px;
    border: none;
    border-radius: 3px;
    outline: none;
    position:relative;
    margin-top:25px;
    right:30%;
}
.pic_submit input[type=submit]:hover {
 background-color: #019875;
}
#id_profilePic {
    color: #fff;
    background:#fff;
    cursor: pointer;
    cursor: hand;
    width: 150px;
    height:75px;
    border: none;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    outline: none;
    position:absolute;
    left:20.5%;
    z-index: 5;
    opacity:0;
    top:99px;
}

.pc2{
    width: 150px;
    height:75px;
     background-color: #708090;
     border-bottom-left-radius: 75px;
     border-bottom-right-radius:75px;
    outline: none;

    text-align: center;
    opacity:0;
    left:20.5%;
    position:absolute;
    z-index:3;
    top:105px;

}


#upload-pic{
    position:relative;
    color:#fff;
    opacity:1;
    top:15px;
    font-size:18px;
    font-family:'Open Sans', sans-serif;
    margin :0 auto;
    text-decoration: none;
}



input.red
    {
    font-size:18px;
        font-family:'Open Sans', sans-serif;
        text-decoration: underline;
 width: 150px;
    height:150px;
  z-index:1;
  background-color: #FFF;

    cursor: pointer;
    cursor:hand;
    border: none;
    border-radius: 100%;
    outline: none;
    left:20.5%;
    position:absolute;
    top:25px;
}
.profile_add{
width:55%;
height:1000px;
float:left;
margin-left:10px;
margin-top:10px;
}
.profile_add ul{
list-style-type:none;
float:left;
}
.profile_add p{
float:left;
font-size:20px;
float:left;
margin-left:10px;
}
.profile_add1,.profile_add2,.profile_add3, .profile_add4 {
    float:left;
    width:100%;
    background:#ECECEC;
    border-radius:3px;
    margin-top:3px;
}

/*formatting button save changes*/
 #save_changes{
    color: #fff !important;
    word-spacing: 0.25em;
   font-family: 'Open Sans', sans-serif;
   border: none;
    line-height: 22px;
    text-align: center;
    display: inline;
    float : right;
    text-decoration: none;
    	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #1ABC9C;
       padding: 6px 12px 5px;
    font-size: 11px;
    color: #fff;
    text-shadow: none;
    margin-top:10px;
}

#save_changes:visited{
      color: #fff;
}
 #save_changes:hover{
    color: rgba(200, 200, 76, 0.75);
    text-decoration: none;
    background:#019875;
    -webkit-box-shadow:inset 0 10px 20px rgba(30, 130, 76, 0.10);
    -moz-box-shadow: inset 0 10px 20px rgba(30, 130, 76, 0.10);
    box-shadow: inset 0 10px 20px rgba(30, 130, 76, 0.10);
}
 #save_changes:active {
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
    box-shadow: inset 0 2px 2px rgba(0,0,0, 0.3), inset 0 10px 20px rgba(0,0,0, 0.08);
}
/*save changes done*/

/*Vivek*/
#AddGenre {
    display: inline-block;
    position: relative;
 margin-bottom:30px;
 top:-40px;
 right:2%;
}

.big-image{
    position:absolute;
    width:100%;
    height:100%;
    cursor: pointer;
    cursor: hand;
    background-color:#111;
    opacity:0.6;
    visibility:hidden;
    z-index:10;
}
.clicked-image{
    position:absolute;
    width:550px;
    height:550px;
    top:10%;
    left:30%;
    margin:0 auto;
    z-index:11;
    visibility:hidden;
    border: 5px solid #50597b;
background-position: center center;
background-repeat: no-repeat;
-moz-background-repeat: no-repeat;
background-size: cover ;
-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow-x: visible;
overflow: visible;
}