
#revoke{
 color:#707A7A;
 font-size:12px;
 float:right;
}
#revoke:hover{
    text-decoration:none;
    color:#000000;
}
#accept, #reject{
    color: #fff !important;
    word-spacing: 0.25em;
   font-family: 'Open Sans', sans-serif;
   border: none;
    line-height: 20px;
    padding: 5px 11px 9px;
    text-align: center;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 18px;
    text-decoration: none;
    	-webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #1ABC9C;
    font-size: 14px;
    color: #fff;
    text-shadow: none
    left:20%;
    position:relative;
}
#accept{
    margin-left:50px;
}
#accept:hover, #reject:hover{
background: #019875;
}
