{% extends "base.html" %}
{% block html %}
    <html>
{% endblock %}
{% block title %}
    <title> Guitar Club </title>
{% endblock %}

{% block meta %}
    <meta charset="utf-8" />
        <meta name="description" content="Welcome to 'THE GUITAR CLUB' - A virtual world for all music lovers and music makers">
        <meta name="robots" content="all">
        <link href="/static/editorpage.css" rel="stylesheet">
        <script type="text/javascript" async src="/static/editorpage.js"></script>
{% endblock %}

{% block body %}
    <body>
{% endblock %}


{% block small_pic %}
                    <div class="profile-picture small-profile-picture" style="background-image:url('{{ form.instance.profilePic.url  }}')">
                        </div>
{% endblock %}
{% block content %}
                                 <!-- MIDDLE-CONTAINER -->
            <div class="middle-container">

                <div class="profile"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                    <div class="profile-left">
                        <form action = "/accounts/profile/" method = "post" enctype = "multipart/form-data">{% csrf_token %}
                        <input type="button" class="red" id="pseudobutton" value="Upload Pic">
                        <div class="button1">{{form.profilePic}}<br></div>
                        <div class="profile-picture big-profile-picture clear " style="background-image:url('{{ form.instance.profilePic.url  }}')">
                        </div>

                        <h1 class="user-name">{{first_name}} {{last_name}}</h1>
                        <div class="entry">
                            <h2 id="Gender">Gender : </h2>
                            {{form.gender}}
                        </div>
                        <div class="entry">
                            <h2 id="dob">DOB:</h2>
                            {{form.dob}}
                        </div>
                        <div class="entry">
                            <h2 id="livingin">Living In:</h2>
                            {{form.currentPlace}}
                        </div>
                        <div class="entry">
                            <h2 id="hometown">Home Town:</h2>
                            {{form.homeTown}}
                        </div>
                        <div class="pic_submit">
                            <br><input type = "submit" value="Save Changes"/>
                        </div>
                        </form>
                    </div>
                </div><!-- end profile-->


                <div class="profile_add">

                    <form method="post" action="/accounts/register/">{% csrf_token %}
                        <INPUT id ="save_changes" type="button" value="Save Changes" ><br>
                    <div class="profile_add1">
                        <p>Music Interests</p><br><br>
                        <ul>
                            <li>
                                <input id="genre" type="text" placeholder="Genre" /><br>
                            </li>
                            <li>
                                <input id="songs" type="text" placeholder="Songs" /><br>
                            </li>
                        </ul>

                    </form>
                    </div>
                    <div class = "profile_add2">
                        <p>Music Interests</p><br><br>
                        {{follow.bandFollow}}<br>
                        {{follow.bandLikes}}<br>
                    </div>
                    <div class = "profile_add3">
                        <p>Music Interests</p><br><br>
                        {{follow.bandFollow}}<br>
                        {{follow.bandLikes}}<br>
                    </div>
                    <div class = "profile_add4">
                        <p>Genres Interested In</p><br><br>
                         <ul class = "pull-right" id="AddGenre">
                        <a  href="accounts/profile_v3/generes/return/" onclick="return popitup('/accounts/profile_v3/generes')"
                        ><font color="red"> Add genres you like </a>
                        </ul>
                        {% if generes.generes %}
                            {{generes.generes}}
                        {% else %}
                            ---------------------Choose Genres that you like---------------->
                        {% endif %}

                    </div>
<!-- ###################################################Vivek-->
                    <div>
                        <script language="javascript" type="text/javascript">
<!--
function popitup(url) {
    newwindow=window.open(url,'{{title}}','height=700,width=550');
    if (window.focus) {newwindow.focus()}
    return false;
}

// -->
</script>

   </div>
</div><!-- end profile-add -->

<!--#################################################Vivek-->
                </div><!-- end middle-container -->
{% endblock %}