{% extends "base.html" %}
{% block html %}
    <html>
        {% load %}
{% load friendship_tags %}
{% endblock %}
{% block title %}
    <title> Guitar Club </title>
{% endblock %}

{% block meta %}
    <meta charset="utf-8" />
        <meta name="description" content="Welcome to 'THE GUITAR CLUB' - A virtual world for all music lovers and music makers">
        <meta name="robots" content="all">
        <link href="/static/viewprofile.css" rel="stylesheet">
        <script type="text/javascript" async src="/static/viewprofile.js"></script>
{% endblock %}

{% block body %}
    <body>
{% endblock %}


{% block small_pic %}
                    <div class="profile-picture small-profile-picture" style="background-image:url('{{ form.profilePic.url  }}')">
                        </div>
{% endblock %}
{% block content %}
                                 <!-- MIDDLE-CONTAINER -->
             <div class="middle-container">

                <div class="profile"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                    <div class="profile-left">
                        <{% load url from future %}
                        <div class="profile-picture big-profile-picture clear " style="background-image:url('{{profile.profilePic.url}}')">
                        </div>
                        <h1 class="user-name">{{profile.user.first_name}} {{profile.user.last_name}}</h1>
                        <div>
                            <h2 id="Gender">Gender : {{profile.gender}}</h2>
                        </div>
                        <div>
                            <h2 id="dob">DOB: {{profile.dob}}</h2>
                        </div>
                        <div>
                            <h2 id="livingin">Living In:{{profile.currentPlace}}</h2>
                        </div>
                        <div>
                            <h2 id="hometown">Home Town:{{profile.homeTown}}</h2>
                        </div>
                        <div class="request_sent">
                        {% autoescape off %}
                        {{a|check_friendship:from_user}}{% csrf_token %} {% endautoescape %}</form>
                        </div>
                        <!--create template tag to render friends friend only if the users are friends !-->

                        {% if a|check_friendship:from_user|length ==  128 %}
                            <br><a href = "/friend/unfriend/{{profile.user.id}}/">unfriend</a><br>
                            <a href = "/find/friends/friend/{{profile.user.id}}/"> {{profile.user.first_name}} {{profile.user.last_name}}'s Friends</a>
                        {% endif %}
                </div>

                </div>
                <div class="profile_add">
                    <div class="profile_add1">
                        <p>bandLikes : </p><br><br>
                        <p>{{follow.bandLikes}}</p><br>
                    </div>
                    <div class = "profile_add2">
                        <p>bandFollows:</p><br><br>
                        <p>{{follow.bandFollows}}</p><br>
                    </div>
                </div>
{% endblock %}