{% extends "base.html" %}
{% block html %}
    <html>
        {% load %}
{% load friendship_tags %}
    {% load  bandfollow_tags %}
{% endblock %}
{% block title %}
    <title> Guitar Club </title>
{% endblock %}

{% block meta %}
    <meta charset="utf-8" />
        <meta name="description" content="Welcome to 'THE GUITAR CLUB' - A virtual world for all music lovers and music makers">
        <meta name="robots" content="all">
        <link href="/static/viewprofile.css" rel="stylesheet">
        <script type="text/javascript" async src="/static/viewprofile.js"></script>
{% endblock %}

{% block body %}
    <body>
{% endblock %}
{% block content %}

                                 <!-- MIDDLE-CONTAINER -->
             <div class="middle-container">

                <div class="profile"> <!-- PROFILE (MIDDLE-CONTAINER) -->
                    <div class="profile-left">
                        {% load url from future %}
                        <div class="profile-picture big-profile-picture clear " style="background-image:url('{{profile.profilePic.url}}')">
                        </div>
                        <h1 class="user-name">{{profile.user.first_name}} {{profile.user.last_name}}</h1>
                        <div class="request_sent">
                            {% autoescape off %}
                            {{a|mutual_friends_count:from_user}}{% csrf_token %} {% endautoescape %} Mutual Friend(s)
                            <!--{{mf}}-->
                        </div>
                        <div>
                            <h2 id="Gender">Gender : {{profile.gender}}</h2>
                        </div>
                        <div>
                            <h2 id="dob">DOB: {{profile.dob}}</h2>
                        </div>
                        <div>
                            <h2 id="livingin">Living In:{{profile.currentPlace}}</h2>
                        </div>
                        <div>
                            <h2 id="hometown">Home Town:{{profile.homeTown}}</h2>
                        </div>
                        <div class="request_sent1">
                        {% autoescape off %}
                        {{a|check_friendship:from_user}}{% csrf_token %} {% endautoescape %}</form>
                        </div>
                        <!--template tag to render friends friend only if the users are friends !-->
                        {% if a|check_friendship:from_user|length ==  128 %}
                            <a id="unfriend" href = "/friend/unfriend/{{profile.user.id}}/">unfriend</a><br>
                        {% endif %}

                </div>

                </div>
                <div class="profile_add">
                    <div class = "tab-format">
                        <ul class="tabs">
                            <li class="selected"><a href="#view1">About</a></li>
                            <li><a href="#view2">Timeline</a></li>
                            <li><a href="#view3">Friends</a></li>
                        </ul>
                        <div class="tabcontents">
                            <div class="view1" id="view1">
                            about
                            </div>
                            <div class="view2" id="view2">
                                {% if follow %}
                                <div class="profile_add1">
                                    <p>bandLikes : </p><br><br>
                                {% for f in followList %}
                                    <p>{{f.band_name}}</p>
                                    <div class="friend_tag">

                                    {% autoescape off %}
                                    {{a|check_follow:f.fol}}{% csrf_token %} {% endautoescape %}</form>
                                    </div>
                                {% endfor %}
                                </div>
                                {% else %}
                                <div>
                                Not following any bands
                                </div>
                                {% endif %}
                            </div>
                            <div class="view3" id="view3">
                                <div  class="profile_add1">
                                    {% if a|check_friendship:from_user|length ==  128 %}
                                    <a href = "/find/friends/friend/{{profile.user.id}}/"> {{profile.user.first_name}} {{profile.user.last_name}}'s Friends</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}